* {
    margin: 0;
    padding: 0;
}
#screen {
    width: 500px; height: 500px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
}
#screen.waiting {
    background-color: red;
}
#screen.ready {
    background-color: green;
}
#screen.now {
    background-color: blue;
}